@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
}

body {
  height: 100%;
}

@font-face {
  font-family: "Bookerly";
  src: url("./assets/Fonts/Bookerly.ttf");
}

hr {
  overflow: visible; /* For IE */
  border: none;
  border-top: medium double #333;
  color: #888;
  text-align: center;
  width: 60%;
  margin: auto;
  margin-top: 6rem !important;
  margin-bottom: 4rem !important;
}
hr:after {
  content: "§";
  display: inline-block;
  position: relative;
  top: -0.7em;
  font-size: 1.5em;
  padding: 0 0.25em;
  background: rgb(23, 21, 21);
}
